<div ng-include="'./views/header.html'" ng-init="menu='about'"/>

<h1>About RbeeSolar mobile app</h1>

<p>RbeeSolar is the best photovoltaïc monitoring system. Everyday you can control easily how you product with our radiation data from satellite pictures.</p>

<p>Sleep better with RbeeSolar, your installation is under control !</p>

<p>This application is just a sample of how we can do with AngularJS framework and RbeeSolar Webservices.</p>

<p>Please visit <a href="http://rbeesolar.com">http://rbeesolar.com</a></p>

<div ng-include="'./views/footer.html'"/>