    <div class="header" >
        <ul class="nav nav-pills pull-right">
            <li ng-class="{active: menu === 'home'}"><a ng-href="#/">Home</a></li>
            <li ng-class="{active: menu === 'about'}"><a ng-href="#/about">About</a></li>
            <li ng-class="{active: menu === 'contact'}"><a ng-href="#/contact">Contact</a></li>
        </ul>
        <img src="images/logo_ront.png"/>
    </div>

    <alert type="'danger'" ng-show="failToRequest">Can't reach the server... Is your Internet connection OK ?</alert>