    <div class="header" >
        <img class="pull-right" src="images/logo_ront.png"/>
        <ul class="nav nav-pills">
            <li ng-class="{active: menu === 'home'}"><a ng-href="#/">Home</a></li>
            <li ng-class="{active: menu === 'about'}"><a ng-href="#/about">About</a></li>
            <li ng-class="{active: menu === 'contact'}"><a ng-href="#/contact">Contact</a></li>
        </ul>
    </div>

    <alert type="'danger'" ng-show="failToRequest">Can't reach the server... Is your Internet connection OK ?</alert>