<div ng-include="'views/header.html'" ng-init="menu='home'"></div>
<br/>
<div class="panel panel-default">

	<div class="panel-heading">
		<h5>Installations list</h5>
	</div>
    <div class="panel-body">
        <p>Click on the S/N of the installation meter you want to view.</p>
    </div>

    <div class="table-responsive">
	    <table class="table table-striped table-hover table-condensed">
	        <tr ng-repeat="installation in installations.list">
	            <td class="text-center"><strong><a href="javascript:void();" ng-click="consult(installation)">{{ installation }}</a></strong></td>
	        </tr>
	    </table>
    </div>
</div>

<div ng-include="'./views/footer.html'"></div>