<div ng-include="'views/header.html'" ng-init="menu='home'"></div>

<h2>Hi {{ user.firstName }} {{ user.lastName }} !</h2>

<div class="panel panel-default">

	<div class="panel-heading">
		<h1>Installations list</h1>
	</div>
    <div class="panel-body">
        <p>Click on the S/N of the installation you want to view.</p>
    </div>

    <table class="table table-striped table-hover table-condensed table-responsive">
        <tr ng-repeat="installation in installations.list">
            <td><a href="javascript:void();" ng-click="consult(installation)">{{ installation }}</a></td>
        </tr>
    </table>
</div>

<div ng-include="'./views/footer.html'"></div>