<div ng-include="'views/header.html'" ng-init="menu='home'"/>

<form role="form">
    <div class="form-group">
        <label for="login">Login :</label>
        <input id="login" type="text" class="form-control" ng-model="login" placeholder="my login here..."/>
    </div>

    <div class="form-group">
        <label for="password">Password :</label>
        <input id="password" type="password" class="form-control" ng-model="password" placeholder="my password here..."/>
    </div>

    <button type="submit" class="btn btn-default" ng-click="authenticate(login, password)">Submit</button>
</form>
<br/>

<div ng-include="'./views/footer.html'"/>